#
####### requirements.txt #######
#
pip >= 23.0.1

####### FastAPI #######
fastapi >= 0.94.1
fastapi-azure-auth >= 4.2.1
uvicorn >= 0.20.0

##### Webpages #####
jinja2 >= 3.1.2
python-multipart >= 0.0.5
requests >= 2.28.2

##### Get Security Data #####
supabase
python-dotenv