{% extends 'index.html' %}

{% block title %}Check a website{% endblock %}

{% block content %}
<h1 class="site-title">Check a website</h1>
<form id="urlform" method="post" action="/handle-search">
    <input type="text" id="domain" name="domain" placeholder="URL eingeben">
    <input type="submit" value="Search">
</form>
<h3 class="site-subtitle">Gefahren von Phishing</h3>
<p class="site-text">Bla Bla Bla </p>

<script>
document.getElementById("urlform").addEventListener("submit", async function(e) {
    e.preventDefault(); // Stop the form from submitting the default way

    let formData = new FormData(this);
    let response = await fetch("/handle-search", {
        method: 'POST',
        body: formData
    });

    let data = await response.json();
    console.log("Received data: ", data);  // Debugging

    if (data.redirect) {
        console.log("Redirecting to: ", data.redirect);  // Debugging
        window.location.href = data.redirect;
    }
});

</script>


{% endblock %}
